<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference App</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="node_modules/angular-ui-router-anim-in-out/css/anim-in-out.css">
    <link type="text/css" rel="stylesheet" href="styles/app.css">
    <script src="lib/jquery-3.1/jquery.min.js"></script>
    <script src="node_modules/materialize-css/dist/js/materialize.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/ng-cordova/dist/ng-cordova.min.js"></script>
    <script src="node_modules/angular-ui-router-anim-in-out/anim-in-out.js"></script>
    <script src="cordova.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/factories/data_dev_fest.fact.js"></script>
    <script src="scripts/factories/dialog.fact.js"></script>
    <script src="scripts/factories/presenters.fact.js"></script>
    <script src="scripts/factories/sessions.fact.js"></script>
    <script src="scripts/factories/db.fact.js"></script>
    <script src="scripts/factories/contacts.fact.js"></script>
    <script src="scripts/factories/session_notes.fact.js"></script>
    <script src="scripts/factories/note_pictures.fact.js"></script>
    <script src="scripts/factories/note_videos.fact.js"></script>
    <script src="scripts/factories/note_audios.fact.js"></script>
    <script src="scripts/factories/in_app_browser.fact.js"></script>
    <script src="scripts/controllers/nav.ctrl.js"></script>
    <script src="scripts/controllers/sessions.ctrl.js"></script>
    <script src="scripts/controllers/session.ctrl.js"></script>
    <script src="scripts/controllers/presenters.ctrl.js"></script>
    <script src="scripts/controllers/presenter.ctrl.js"></script>
    <script src="scripts/controllers/about_phone.ctrl.js"></script>
    <script src="scripts/controllers/notes.ctrl.js"></script>
    <script src="scripts/controllers/note.ctrl.js"></script>
</head>

<body>
    <div ng-cloak>
        <ui-view name="navbar">
            <nav ng-controller="NavCtrl" ng-cloak>
                <ul id="slide-out" class="side-nav">
                    <li ng-repeat="(route, view) in views" ng-click="changeView(route)"><a>{{view.name}}</a></li>
                </ul>
                <a class="left button-collapse" ng-click="goBack()" ng-if="showBackButton"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour</a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large right"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <a class="brand-logo center">{{currentView}}</a>
            </nav>
        </ui-view>
    </div>
    <div class="container">
        <ui-view id="main-view" class="anim-view anim-in-out anim-fade" data-anim-sync="true"></ui-view>
    </div>
</body>

</html>
