<div class="row margin-tp-20">
    <div class="col s3">Plateforme</div>
    <div class="col s9">{{platform}}</div>
</div>
<div class="row">
    <div class="col s3">Version</div>
    <div class="col s9">{{version}}</div>
</div>
<div class="row">
    <div class="col s3">UUID</div>
    <div class="col s9">{{uuid}}</div>
</div>
<div class="row">
    <div class="col s3">Model</div>
    <div class="col s9">{{model}}</div>
</div>
<div class="row">
    <div class="col s3">Connexion</div>
    <div class="col s9">{{connection}}</div>
</div>
<div class="row">
    <div class="col s3">Auteur</div>
    <div class="col s9" ng-click="openInBrowser('http://chucknorris.com/')"><i class="fa fa-external-link" aria-hidden="true"></i> Xavier Huberdeau, alias Chuck Norris</div>
</div>
<div class="row">
    <div class="col s3">Description</div>
    <div class="col s9">Cette application est un sandbox pour tester Cordova. Elle comprend différents écrans pour voir la liste des présentations du dernier DevFest de Nantes ainsi que les speakers. On peut aussi ajouter des notes aux différentes présentations.</div>
</div>
<div class="row">
    <div class="col s3">Version</div>
    <div class="col s9">1.0</div>
</div>