<div class="center-align">
    <div class="row margin-tp-20 col s6">
        <img id="conf-img" class="responsive-img" src="images/logo_ecole.jpg" alt="logo mines Nantes" />
    </div>
    <div class="row">
        <h4>Conférence multiplateforme</h4>
    </div>
    <div class="row">
        <p>09/02/17 - 12/02/17</p>
    </div>
    <div class="row margin-tp-20">
        <a ui-sref="sessions" class="btn btn-primary">Voir les sessions</a>
    </div>
    <div class="row margin-tp-20">
        <a ui-sref="presenters" class="btn btn-primary">Voir les présentateurs</a>
    </div>
</div>