<div class="row margin-tp-20 center-align">
    <h5 ui-sref="sessions-detail({sessionId: session.id})">{{session.title}}</h5>
</div>
<div class="row center-align" ng-controller="MediasRecorderCtrl">
    <button class="btn blue" ng-click="takePicture('camera')"><i class="fa fa-camera" aria-hidden="true"></i></button>
    <button class="btn blue" ng-click="takePicture('library')"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
    <button class="btn blue" ng-click="takeVideo()"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
    <button class="btn blue" ng-click="takeAudio()"><i class="fa fa-microphone" aria-hidden="true"></i></button>
</div>
<div class="margin-tp-20">
    <div class="col s12">
        <div class="input-field">
            <input value="{{note.title}}" ng-model="note.title" id="title" type="text">
            <label class="active" for="title">Titre</label>
        </div>
        <div class="input-field">
            <textarea id="textarea1" class="materialize-textarea" ng-model="note.comment">{{note.comment}}</textarea>
            <label class="active" for="textarea1">Note</label>
        </div>
    </div>
</div>
<div class="row center">
    <div class="col s12">
        <button class="waves-effect waves-light btn" ng-disabled="!noteChanged()" ng-click="updateNote()">Enregistrer</button>
        <button class="waves-effect waves-light btn red" ng-click="deleteNote()" ng-if="mode === 'edit'">Supprimer</button>
    </div>
</div>
<div class="row center">
    <a class='dropdown-button btn full-width yellow darken-2' data-activates='seeMedia'>
        <i class="fa fa-list" aria-hidden="true"></i> {{see}}
    </a>
    <ul id='seeMedia' class='dropdown-content'>
        <li ng-click="see = 'Images';"><a>Images</a></li>
        <li ng-click="see = 'Vidéos';"><a>Vidéos</a></li>
        <li ng-click="see = 'Audios';"><a>Audios</a></li>
        <li ng-click="see = '';"><a>Tout cacher</a></li>
    </ul>
</div>
<div class="row" ng-controller="MediasActionCtrl">
    <div class="col s12">
        <div ng-show="see === 'Images'">
            <div class="col s6" ng-repeat="picture in $parent.pictures">
                <img class="responsive-img" ng-click="showImageActionSheet(picture)" data-ng-src="{{picture.picture}}">
            </div>
            <p ng-if="$parent.pictures.length === 0">Cette note n'a aucune image</p>
        </div>
        <div ng-show="see === 'Vidéos'">
            <div class="col s6" ng-repeat="video in $parent.videos">
                <video poster="images/video.png" ng-click="$event.preventDefault();$event.stopPropagation();showVideoActionSheet(video, $event)" class="responsive-video">
                    <source data-ng-src="{{video.video}}" type="video/mp4">
                </video>
            </div>
            <p ng-if="$parent.videos.length === 0">Cette note n'a aucune vidéo</p>
        </div>
        <div ng-show="see === 'Audios'">
            <div class="col s6" ng-repeat="audio in $parent.audios">
                <img class="media-img" src="images/audio.png" ng-click="showAudioActionSheet(audio, $event)">
                <audio>
                    <source data-ng-src="{{audio.audio}}">
                </audio>
            </div>
            <p ng-if="$parent.audios.length === 0">Cette note n'a aucun enregistrement vocal</p>
        </div>
    </div>
</div>
