<div class="row">
	<a ui-sref="sessions-detail-notes-new({sessionId: sessionId})" class="btn btn-primary">Nouvelle note</a>
</div>
<div class="row">
    <div class="collection" ng-if="notes.length > 0">
        <a ui-sref="sessions-detail-notes-detail({sessionId: sessionId, noteId: note.id})" ng-repeat="note in notes" class="collection-item">{{note.title}} <i class="fa fa-angle-right fa-2x secondary-content" aria-hidden="true"></i></a>
    </div>
    <h4 ng-if="notes.length === 0" class="center-align">
   	 	Aucune note
    </h4>
</div>