.margin-tp-20 {
    margin-top: 20px;
}

#conf-img {
    max-width: 50%;
}

.btn.full-width {
    display: block!important;
}

#main-view {
    position: absolute;
    width: inherit;
}

html,
body,
#loading {
	height: 100%;
}

html {
	background-color: #436593;
}

.loaded {
	background-color: white!important;
}

#loading-text {
	color: white;
	font-weight: 700;
}